.graph-container {
    display: inline-block;
}

.graph-title {
    text-align: center;
}

.header-title {
    display: inline-block;
}

#pauseButton {
    float: right;
}

.pack-disp {
    border: none;
    width: 300px;
}

.pack-disp tbody,
.pack-disp tr,
.pack-disp th,
.pack-disp td {
    border: none;
}

.battery-cell {
    background: red;
    display: block;
    height: 20px;
    margin: 0;
    padding: 0;
}

.table-divider {
    height: 20;
}